.result-card {

}

.custom-padding {
  padding: 10px;
}

.custom-id-padding {
  border-right: 3px solid black;
}

.details-btn {
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
  background-color: transparent;
  border: 3px solid black;
  margin: 10px 0;
  &:hover {
    background-color: #555555;
    color: white;
  }
}

@media (max-width: 576px) {
  .details-btn {
    min-height: 100px;
  }
}

.label-border {
  border: 3px solid black;
  padding: 5px 25px;
}

.label-with-border {
  border: 2px solid black;
  border-radius: 0 50% 50% 0;
  padding: 5px 15px;

  background-color: transparent;
}
