<div class="container">
  <h1>Tariff List</h1>

  <div ngbAccordion>
    <div ngbAccordionItem [collapsed]="false">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Custom Sort & Filter</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="sortSearch">Search by name or ID:</label>
                <input
                  id="sortSearch"
                  type="text"
                  class="form-control"
                  placeholder="Search by name or ID..."
                  aria-label="Search by name"
                  aria-describedby="basic-addon2"
                  [(ngModel)]="searchQuery"
                  (ngModelChange)="filterTariffs()"
                >
              </div>
              <!-- Custom sorting by field and order -->
              <div class="form-group col-md-6">
                <label for="sortSelect">Sort by:</label>
                <select id="sortSelect" class="form-control" (change)="onSortChange($event)">
                  <option *ngFor="let option of SortOptions" value="{{option.value}}">{{option.label}}</option>
                </select>
              </div>
              <!-- end of Sort Dropdown  -->
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-5">
    <ng-container *ngIf="filteredTariffs.length;else empty">
      <div class="col-md-12" *ngFor="let tariff of filteredTariffs | sortArray:sortField:sortOrder">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ tariff.name }}</h5>
            <p class="card-text">Download: {{ tariff.downloadSpeed }} Mbps</p>
            <p class="card-text">Upload: {{ tariff.uploadSpeed }} Mbps</p>
<!--            <p class="card-text">Price: {{ tariff.price | currency:'EUR' }}</p> -->
            <p class="card-text">Price: {{ tariff.price }} <span>€</span></p>
            <ul *ngFor="let benefit of tariff.benefits">
              <li>{{benefit}}</li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #empty>
      <div class="text-center">
        <p>No results found!</p>
        <button (click)="onReset()" type="button" class="btn btn-danger">Reset Filter</button>
      </div>
    </ng-template>
  </div>
</div>
