<div class="container">
  <h1>Tariff List</h1>
  <!-- start of Dropdown for custom sorting by field and order -->
  <div class="form-group">
    <label for="sortSelect">Sort by:</label>
    <select id="sortSelect" class="form-control" (change)="onSortChange($event)">
      <option value="price-asc">Default (Price Ascending)</option>
      <option value="price-desc">Price Descending</option>
      <option value="name-asc">Name Ascending</option>
      <option value="name-desc">Name Descending</option>
      <option value="downloadSpeed-asc">Download Speed Ascending</option>
      <option value="downloadSpeed-desc">Download Speed Descending</option>
      <option value="uploadSpeed-asc">Upload Speed Ascending</option>
      <option value="uploadSpeed-desc">Upload Speed Descending</option>
    </select>
  </div>
  <!-- end of Sort Dropdown  -->
  <div class="row pt-5">
    <div class="col-md-12" *ngFor="let tariff of filteredTariffs| sortArray:sortField:sortOrder">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ tariff.name }}</h5>
          <p class="card-text">Download: {{ tariff.downloadSpeed }} Mbps</p>
          <p class="card-text">Upload: {{ tariff.uploadSpeed }} Mbps</p>
          <p class="card-text">Price: ${{ tariff.price }}</p>
          <ul *ngFor="let benefit of tariff.benefits">
            <li>{{benefit}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
